LoadModule rpaf_module modules/mod_rpaf.so

<IfModule rpaf_module>
    RPAF_Enable             On
    RPAF_Header             X-Real-Ip
    RPAF_ProxyIPs           {{ ansible_ssh_host }}
    RPAF_SetHostName        On
    RPAF_SetHTTPS           On
    RPAF_SetPort            On
</IfModule>
