<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    Welcome to {{ domain['name'] }}
  </title>
</head>
<body>

<header>
<h1>
  Web server has been successfully deployed with <a href="https://github.com/vitkuz573/Ansible-WebServer">Ansible-WebServer</a>!
</h1>
</header>

<article>
 Brief info: <br><br>
 Server IP address: {{ ansible_ssh_host }} <br>
 Domain name: {{ domain['name'] }} <br><br>

 OS: {{ ansible_system }} <br>
 OS Family: {{ ansible_os_family }} <br>
 Distribution: {{ ansible_distribution }} {{ ansible_distribution_major_version }} {{ ansible_distribution_release }}<br>
 Hostname: {{ ansible_nodename }} <br>
 Package Manager: {{ ansible_pkg_mgr }} <br>
</article>
</body>
</html>
