server {
    listen                {{ ansible_ssh_host }}:80 default_server;
    listen                [::]:80 default_server;
    server_name           {{ domain['name'] }};
    root                  /var/www/{{ domain['name'] }}/public;
    client_body_timeout   {{ nginx['timeout']['client']['body'] }}s;
    client_header_timeout {{ nginx['timeout']['client']['header'] }}s;
    charset               utf-8;

    if ($request_method !~ ^(GET|POST|HEAD)$) {
        return '405';
    }

    access_log /var/log/nginx/{{ domain['name'] }}.access.log;
    error_log  /var/log/nginx/{{ domain['name'] }}.error.log warn;

    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ ^/phpmyadmin/* {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache['port'] }};
        root /var/www/{{ domain['name'] }}/public/phpmyadmin/;
        include    ansiblewebserver.configs/proxy.conf;
    }

    location ~ \.php$ {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache['port'] }};
        include    ansiblewebserver.configs/proxy.conf;
    }

    include ansiblewebserver.configs/security.conf;
    include ansiblewebserver.configs/general.conf;
}
