server {
    listen                {{ ansible_ssh_host }}:80;
    listen                [::]:80;
    server_name           {{ domain_name }};
    root                  /var/www/{{ domain_name }}/public;
    client_body_timeout   {{ nginx['timeouts']['client_body'] }}s;
    client_header_timeout {{ nginx['timeouts']['client_header'] }}s;
    charset               utf-8;

    if ($request_method !~ ^(GET|POST|HEAD)$) {
        return '405';
    }

    access_log /var/log/nginx/{{ domain_name }}.access.log;
    error_log  /var/log/nginx/{{ domain_name }}.error.log warn;

    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ ^/phpmyadmin/* {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache['port'] }};
        root /var/www/{{ domain_name }}/public/phpmyadmin/;
        include    ansiblewebserver.configs/proxy.conf;
    }

    location ~ \.php$ {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache['port'] }};
        include    ansiblewebserver.configs/proxy.conf;
    }

    include ansiblewebserver.configs/security.conf;
    include ansiblewebserver.configs/general.conf;
    include ansiblewebserver.configs/letsencrypt.conf;
}
