server {
    listen {{ nginx_port }};
    server_name {{ domain_name }} www.{{ domain_name }};
    ssl_certificate {{ ssl_certificate_path }};
    ssl_certificate_key {{ ssl_certificate_key_path }};
    root /var/www/{{ domain_name }}/html;
    index index.php index.html index.html;
    return 301 https://$host:443$request_uri;
    client_body_timeout {{ client_body_timeout }}s;
    client_header_timeout {{ client_header_timeout }}s;
    charset utf-8;

    location / {
        try_files $uri $uri/ /index.php;
    }

    location ~ \.php$ {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location ~ /\.ht {
        deny all;
    }

    location /nginx_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }
}

server {
    listen 443 default_server;
    server_name {{ domain_name }} www.{{ domain_name }};
    ssl on;
    ssl_certificate {{ ssl_certificate_path }};
    ssl_certificate_key {{ ssl_certificate_key_path }};
    index index.php index.html index.html;
    root /var/www/{{ domain_name }}/html;
}
