server {
    listen {{ nginx_port }};
    server_name {{ domain_name }} www.{{ domain_name }};
    root /var/www/{{ domain_name }}/html;
    index index.php index.html index.html;
    client_body_timeout {{ client_body_timeout }}s;
    client_header_timeout {{ client_header_timeout }}s;
    charset utf-8;

    if ($request_method !~ ^(GET|HEAD|POST)$ ) {
        return 444;
    }

    location / {
        try_files $uri $uri/ /index.php;
    }

    location ~ \.php$ {
        proxy_pass http://{{ ansible_ssh_host }}:{{ apache_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location ~ /\.ht {
        deny all;
    }

    location /nginx_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }
}
