<VirtualHost *:{{ apache['port'] }}>
    ServerName {{ domain_name }}
    ServerAlias www.{{ domain_name }}
    DocumentRoot /var/www/{{ domain_name }}/public
    <Directory /var/www/{{ domain_name }}/public>
        AllowOverride All
    </Directory>
</VirtualHost>
