<VirtualHost *:{{ apache['port'] }}>
    ServerName {{ domain['name'] }}
    ServerAlias www.{{ domain['name'] }}
    DocumentRoot /var/www/{{ domain['name'] }}/public
    <Directory /var/www/{{ domain['name'] }}/public>
        AllowOverride All
    </Directory>
</VirtualHost>
