<VirtualHost *:{{ apache_port }}>
    ServerName {{ domain_name }}
    ServerAlias www.{{ domain_name }}
    DocumentRoot /var/www/{{ domain_name }}/html
    <Directory /var/www/{{ domain_name }}/html>
        AllowOverride All
    </Directory>
</VirtualHost>